@import "button";

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    width: 50vw;
    border-radius: 8px;
    padding: 20px 30px 50px 30px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

  .task-details {
    font-style: normal;
    font-weight: normal;
      &__title {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 10px;
      }

      &__description {
        font-size: 14px;
        line-height: 16px;
        color: #4A5568;
      }

      &__label {
        font-weight: 600;
        font-size: 10px;
        line-height: 15px;
        color: #BDBDBD;
      }

      &__body {
        font-size: 14px;
        line-height: 21px;
      }

      &__date {
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        color: #BDBDBD;
      }
  }
  
  .form-container {
      padding-top: 30px;
      button {
         margin-top: 10px;
      }

      .form-title {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
      }
    .input-group {
        margin-bottom: 8px;
        label {
            display: inline-block;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 10px 18px;
            color: #4F4F4F;
            margin-bottom: 7px;
            margin-left: 5px;
        }

        input, textarea {
            display: block;
            border: 1px solid #828282;
            box-sizing: border-box;
            border-radius: 12px;
            padding: 15px;
            width: 90%;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 18px;
        }
    }
  }
  
  .task-list {

    ul {
      list-style: none;
      padding: 0;
    }

    &__btn {
        display: block;
        width: max-content;
        margin: 0 auto;
    }
  } 
  
  
  .task-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: flex-end;
    padding: 5px 10px;

    button {
        margin-left: 8px;
    }

    

    &__checkbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5px;
        margin-right: auto;

        label {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        }

        input[type=checkbox] {
            margin-right: 10px;
            transform: scale(1.5);
        }

        input[type=checkbox]:checked  + label {
            text-decoration: line-through;
        }
    }
  
  }
  
//   .input {
//     border: 1px solid #BDBDBD;
//     border-radius: 12px;
//     padding: 20px 12px;
//     font-size: 14px;
//     line-height: 17px;
//   }
  
//   .btn {
//     width: 20%;
//     background: #2F80ED;
//     box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
//     border: 1px solid #2F80ED;
//     color: #fff;
//     border-radius: 12px;
//     text-transform: capitalize;
//     font-size: 14px;
//     line-height: 17px;
//   }